# Fomalhaut Dev Version Folder
/Fomalhaut/
/fomalhaut_rs/

# Axis Dev Version Folder
/Axis/
/axis_rs/

# Lock File
package-lock.json
Manifest.toml

# node_modules
node_modules

# CUDA.jl
LocalPreferences.toml